<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Content Security Policy -->
  <meta http-equiv="Content-Security-Policy" content="script-src https://tag.wknd.ai.com https://assets.bounceexchange.com https://api.bounceexchange.com https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js 'unsafe-inline' 'unsafe-eval' 'strict-dynamic'">
  <meta http-equiv="Content-Security-Policy" content="style-src https://assets.bounceexchange.com https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <meta http-equiv="Content-Security-Policy" content="img-src 'self' https://assets.bounceexchange.com https://events.bouncex.net">
  <meta http-equiv="Content-Security-Policy" content="font-src https://assets.bounceexchange.com">
  <meta http-equiv="Content-Security-Policy" content="child-src https://assets.bounceexchange.com">
  <meta http-equiv="Content-Security-Policy" content="form-action https://api.bounceexchange.com">
  <meta http-equiv="Content-Security-Policy" content="connect-src https://events.bouncex.net">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <title>Mock Server</title>

  <!-- Start BounceX tag. Deploy at the beginning of document head. -->
  <script>
    (function(d) { var e = d.createElement('script'); e.src = d.location.protocol + '//tag.wknd.ai/3490/i.js'; e.async = true; d.getElementsByTagName("head")[0].appendChild(e); }(document));
  </script>
  <!-- End BounceX tag -->
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">Sup</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          {{!-- @TODO add auth links --}}
        </div>
      </div>
    </div>
  </nav>
  <main class="container pt-4">{{{body}}}</main>

  <!-- Optional JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>
